<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

    <bean id="snfncapPositiveTrunkAcceptQueue" class="com.ibm.mq.jms.MQQueue" parent="jmsQueue">
        <property name="baseQueueName" value="${positive.queue.request.client.to.snfncap}"/>
    </bean>

    <bean id="snfncapPositiveTrunkListener" class="org.springframework.jms.listener.adapter.MessageListenerAdapter"
          parent="jmsListener">
        <property name="delegate" ref="snfncapPositiveTrunkMqAcceptConnector"/>
    </bean>

    <bean id="snfncapPositiveTrunkListenerContainer" class="org.springframework.jms.listener.DefaultMessageListenerContainer"
          parent="jmsContainer">
        <property name="concurrentConsumers" value="5"/>
        <property name="destination" ref="snfncapPositiveTrunkAcceptQueue"/>
        <property name="messageListener" ref="snfncapPositiveTrunkListener"/>
    </bean>

    <bean id="snfncapPositiveTrunkSendQueue" class="com.ibm.mq.jms.MQQueue" parent="jmsQueue">
        <property name="baseQueueName" value="${queue.request.snfncap.to.distributor}"/>
    </bean>

</beans>