<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

    <bean id="snfncapCryptography" class="com.gs.utility.cryptography.Base64">
        <property name="cryptography">
            <bean class="com.gs.utility.cryptography.AESNoRandom">
                <property name="keyText" value="SNFNCAP_POSITIVE_TEST_KEY"/>
            </bean>
        </property>
    </bean>

</beans>